<!-- <div>
  <h1 class="test">titre :{{ title }}</h1>
</div>

<app-dyma></app-dyma> -->

<!-- <ul>
  <li>titre : {{ displayTitle() }}</li>
  <li>{{ displayTitle() + age }}</li>
  <li>{{ isLogedIn ? "connecter" : "non connecte" }}</li>
  <li>{{ age }}</li>
  <li>{{ test }}</li>
  <li>{{ user.email }}</li>
</ul>

<div
  class="square"
  (mouseenter)="sayHi()"
  (mouseleave)="sayBye()"
  (click)="consoleEvent($event)"
>
  {{ squareTitle }}
</div> -->

<nav class="menu">
  <a
    class="menu_item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/"
    >Home</a
  >
  <a class="menu_item" routerLinkActive="active" routerLink="/users">users</a>
  <a class="menu_item" routerLinkActive="active" routerLink="/about">about</a>
</nav>

<router-outlet></router-outlet>

<!-- <app-users /> -->
